addons/[^.]*
!addons/3dovoice/
addons/3dovoice/.*
!addons/mm-hd/
addons/mm-hd/.*
!addons/volasaurus-remix-pack/
addons/volasaurus-remix-pack/.*
!addons/sol-textures-hd/
addons/sol-textures-hd/.*
!addons/sol-textures-sd/
addons/sol-textures-sd/.*
!addons/classic-pack/
addons/classic-pack/.*
!addons/3dopadding/
addons/3dopadding/.*
!addons/DOSwind/
addons/DOSwind/.*
!addons/3do-mode-sd/
addons/3do-mode-sd/.*
!addons/3do-mode-hd/
addons/3do-mode-hd/.*
!addons/dos-mode-sd/
addons/dos-mode-sd/.*
!addons/dos-mode-hd/
addons/dos-mode-hd/.*
!addons/distorted-hayes/
addons/distorted-hayes/.*
*.uqm
.vs