addons/[^.]*
!addons/3dovoice/
addons/3dovoice/.*
!addons/mm-hd/
addons/mm-hd/.*
!addons/volasaurus-remix-pack/
addons/volasaurus-remix-pack/.*
!addons/sol-textures-hd/
addons/sol-textures-hd/.*
*.uqm