addons/[^.]*
!addons/mm-3dovoice/
addons/mm-3dovoice/.*
!addons/mm-hd/
addons/mm-hd/.*
!addons/3do-mode-sd/
addons/3do-mode-sd/.*
!addons/3do-mode-hd/
addons/3do-mode-hd/.*
!addons/dos-mode-sd/
addons/dos-mode-sd/.*
!addons/dos-mode-hd/
addons/dos-mode-hd/.*
*.uqm
.vs